<!-- <div class="container">
  <div>
    <div class="row mt-4">
      <div class="col-12">
        <h4> REGISTRAZIONE </h4>
      </div>

      <div class="col-12">
        <div class="row" *ngIf="authError">
          <div class="col-12 alert alert-danger">
            {{ authError?.message }}
          </div>
        </div>
        <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="firstName">First name</label>
              <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName">
            </div>
            <div class="col-md-6 mb-2">
              <label for="lastName">Last name</label>
              <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="email">Email</label>
              <input ngModel #email="ngModel" name="email" type="email" class="form-control">
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-12 mb-2">
                <label for="password">Password</label>
                <input ngModel #password="ngModel" name="password" type="password" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-2">
                <label>Confirm Password</label>
                <input name="password" type="password" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<!-- <div id="login-box">
  <div class="left">
    <h1> Registrazione </h1>
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
      <input ngModel #firstname="ngModel" type="text" name="firstName" placeholder="Firstname" />
      <input ngModel #lastname="ngModel" type="text" name="lastName" placeholder="Lastname" />
      <input ngModel #email="ngModel" type="email" name="email" placeholder="Email" />
      <input ngModel #password="ngModel" type="password" name="password" placeholder="Password" />

      <button class="signup" type="submit"> Sign up </button>
    </form>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook" (click)="facebooAuth()">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google" (click)="googleAuth()" >Log in with Google+</button>
  </div>
  <div class="or">OR</div>
  <div *ngIf="authError" class="authMessage"> {{ authError?.message }} </div>
</div> -->


<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold">Registrati</h5>
            <div class *ngIf="authError">
              <div class="alert alert-warning">{{ authError?.message }}</div>
            </div>
            <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)" class="form-signin">
              <div class="form-group">
                <input ngModel #firstname="ngModel" type="text" name="firstName" class="form-control" placeholder="Firstname" required autofocus>
              </div>

              <div class="form-group">
                <input ngModel #lastname="ngModel" type="text" name="lastName" class="form-control" placeholder="Lastname" required>
              </div>

              <div class="form-group">
                <input ngModel #email="ngModel" type="email" name="email" class="form-control" placeholder="Email" required>
              </div>

              <div class="form-group">
                <input ngModel #password="ngModel" type="password" name="password" class="form-control" placeholder="Password" required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <a class="d-block text-center mt-2" routerLink="/login">Login</a>
              <hr class="my-4">
            </form>
            <button class="btn btn-lg btn-google btn-block text-uppercase"(click)="googleAuth()" ><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" (click)="facebookAuth()"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
