nav {
  opacity: 0.8;
}

li a {
  font-size: large;
}



.form-inline label {
  color:#d9d9d9;
}

.form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  border-color: black;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}
