<!-- TOLGO LA BARRA DI RICERCA? C'è GIA NELLO STORE A SINISTRA -->


<!-- VERSIONE 1: Login e Register  -->
<ng-container *ngIf="version==1">
  <header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
            <a class="brand-wrap text-light">
              <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2"> Epay
            </a>
        </div>
        <div class="col-lg-6 col-sm-12"></div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-right">
                <div class="widget-header  mr-3">
                    <a class="icon icon-sm rounded-circle border" (clikc)="goToStore()"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">0</span> <!--contare il numero di prodotti del carrello-->
                </div>
                <div class="widget-header icontext">
                    <a class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                    <div class="text">
                        <span class="text-muted text-white">Welcome! {{user?.displayName}}</span>
                        <div *ngIf="!user">
                            <a class="text-light" (click)="goToLogin()"> Login</a> |
                            <a class="text-light" (click)="goToRegister()"> Register</a>
                        </div>
                        <div *ngIf="user">
                          <a class="text-light" (click)="logout()"> Logout </a>
                      </div>
                    </div>
                </div>

            </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->
</ng-container>


<!-- VERSIONE 2: Home/Products sia nel caso che tu sia loggato o meno  -->
<ng-container *ngIf="version==2">
  <header class="section-header">
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
            <a class="brand-wrap text-light">
              <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2"> Epay
            </a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-right">
                <div class="widget-header  mr-3">
                    <a class="icon icon-sm rounded-circle border" (clikc)="goToStore()"><i class="fa fa-shopping-cart"></i></a>
                    <span class="badge badge-pill badge-danger notify">0</span>
                </div>
                <div class="widget-header icontext">
                    <a class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a> <!--Posso portare a pagina di dettagli utenti, da fare eventualmente alla fine-->
                    <div class="text">
                      <span class="text-muted text-white">Welcome! {{user?.displayName}}</span>
                      <div *ngIf="!user">
                          <a class="text-light" (click)="goToLogin()"> Login</a> |
                          <a class="text-light" (click)="goToRegister()"> Register</a>
                      </div>
                      <div *ngIf="user">
                        <a class="text-light" (click)="logout()"> Logout </a>
                    </div>
                  </div>
                </div>

            </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->
</ng-container>
