
<!-- MENU -->
<app-menu [version]=1  *ngIf="courses"></app-menu>


<!-- <section class="section-pagetop bg" style="height: 100px;">
  <div class="container">
    <h2 class="title-page m-auto"> Category products </h2>
  </div>
</section> -->


<section *ngIf="courses" class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">

        <div class="card">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Courses</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1">
                    <div class="card-body">
                        <form #searchForm="ngForm" class="pb-3" (ngSubmit)="searchCourse(searchForm)">
                        <div class="input-group">
                          <input type="text" ngModel #search="ngModel" type="search" name="search" class="form-control" placeholder="Search">
                          <div class="input-group-append">
                            <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title"> Category </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_2">
                    <div class="card-body" *ngIf="coursesCategoryRest && coursesCategoryServerless">
                        <form >
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label" (click)="setCategory('rest')"> Rest-Angular
                                <b class="badge badge-pill badge-light float-right"> {{coursesCategoryRest.length}} </b>  </div>
                          </label>
                          <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label" (click)="setCategory('serverless')"> Serverless-Angular
                                <b class="badge badge-pill badge-light float-right"> {{coursesCategoryServerless.length}} </b>  </div>
                          </label>
                        </form>
            </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Price range </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3">
                    <div class="card-body">
                      <form #priceForm="ngForm" (ngSubmit)="setPrice(priceForm)">
                        <!-- <input type="range" class="custom-range" min="0" max="1000" name=""> -->
                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min</label>
                          <input ngModel #min="ngModel" name="min" class="form-control" value="{{minimo}}" placeholder="$ 0" type="number">
                        </div>
                        <div class="form-group text-right col-md-6">
                          <label>Max</label>
                          <input ngModel #max="ngModel" name="max" class="form-control" value="{{massimo}}" placeholder="$ 1000" type="number">
                        </div>
                        </div> <!-- form-row.// -->
                        <button class="btn btn-block btn-primary" type="submit"> Apply </button>
                      </form>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title"> Difficult </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3">
                    <form >
                      <div class="card-body">
                        <label class="checkbox-btn">
                          <input type="checkbox" >
                          <span class="btn btn-primary btn-light mr-5" (click)="setDifficult('beginner')"> Beginner  </span>
                        </label>

                        <label class="checkbox-btn">
                          <input type="checkbox" >
                          <span class="btn btn-primary btn-light mr-5" (click)="setDifficult('intermediate')"> Intermediate </span>
                        </label>

                        <label class="checkbox-btn">
                          <input type="checkbox" >
                          <span class="btn btn-primary btn-light mr-5" (click)="setDifficult('advanced')"> Advanced </span>
                        </label>
                      </div>
                    </form>
                </div>
            </article> <!-- filter-group .// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->

      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{courses?.length}} Items found </span>
          </div>
        </header>

        <div class="row">
            <ng-container *ngFor="let item of courses" >
              <ng-container *ngIf="item.price>minimo && item.price<massimo">
                <div class="col-md-4">
                  <figure class="card card-product-grid">
                      <div class="img-wrap">
                          <!-- <span class="badge badge-danger"> NEW </span> -->
                          <img src="{{item.imageUrl}}">
                          <a class="btn-overlay" routerLink="/detail/{{item.url}}"><i class="fa fa-search-plus"></i> Vai al dettaglio</a>
                          <!-- <a class="btn-overlay" [routerLink]="['/detail', item.url]"><i class="fa fa-search-plus"></i> Vai al dettaglio</a> -->

                      </div> <!-- img-wrap.// -->
                      <figcaption class="info-wrap">
                          <div class="fix-height">
                              <a class="title">{{item.description}}</a>
                              <div class="price-wrap mt-2">
                                  <span class="price">{{item.price| currency:'USD'}}</span>
                                  <!--<del class="price-old">$1980</del> --><!--SCONTO-->
                              </div> <!-- price-wrap.// -->
                          </div>
                          <!-- DEFINIRE SE SALVARE CARRELLO CON UID O CON URL. ID SICURAMENTE UNICO, URL NO -->
                          <a class="btn btn-block btn-primary text-light" (click)="addToCart(item.url)">Add to cart </a>
                      </figcaption>
                  </figure>
                </div>
              </ng-container>
            </ng-container>
        </div> <!-- row end.// -->


        <!-- PAGINATION -->
        <!-- ANCORA DA GESTIRE, se non faccio a tempo la tolgo -->
        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>

      </main> <!-- col.// -->

    </div>
  </div> <!-- container .//  -->
</section>
