<app-menu [version]=2></app-menu>



<section class="section-content padding-y bg">
  <div class="container">



  <!-- ============================ COMPONENT 2 ================================= -->
  <div class="row">
          <main class="col-md-8">

  <!-- REVISIONE DEL CARRELLO, PER ORA TOLTA, al massimo da mettere al termine -->

  <article class="card mb-4">
  <div class="card-body">
      <h4 class="card-title mb-4">Informazioni di contatto</h4> <!-- da caricare automaticamente nel caso siano inserite -->
      <form action="">
          <div class="row">
              <div class="form-group col-sm-6">
                  <label>Frst name</label>
                  <input type="text" placeholder="Type here" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                  <label>Last name</label>
                  <input type="text" placeholder="Type here" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                  <label>Phone</label>
                  <input type="text" value="+39" class="form-control">
              </div>
              <div class="form-group col-sm-6">
                  <label>Email</label>
                  <input type="email" placeholder="example@gmail.com" class="form-control">
              </div>
          </div> <!-- row.// -->
      </form>
  </div> <!-- card-body.// -->
  </article> <!-- card.// -->


  <article class="card mb-4">
  <div class="card-body">
      <h4 class="card-title mb-4">Indirizzo di spedizione</h4>
      <form action="">
          <div class="row">
                  <div class="form-group col-sm-6">
                      <label>City</label> <!-- Il massimo sarebbe implementazione con db ma molto molto lunga e diff-->
                      <input type="text" placeholder="Type here" class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                      <label>Area*</label>
                      <input type="text" placeholder="Type here" class="form-control">
                  </div>
                  <div class="form-group col-sm-8">
                      <label>Street*</label>
                      <input type="text" placeholder="Type here" class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                      <label>Building</label>
                      <input type="text" placeholder="" class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                      <label>House</label>
                      <input type="text" placeholder="Type here" class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                      <label>Postal code</label>
                      <input type="text" placeholder="" class="form-control">
                  </div>
                  <div class="form-group col-sm-4">
                      <label>Zip</label>
                      <input type="text" placeholder="" class="form-control">
                  </div>
          </div> <!-- row.// -->
      </form>
  </div> <!-- card-body.// -->
  </article> <!-- card.// -->


  <article class="accordion" id="accordion_pay">
      <div class="card">
          <header class="card-header">
              <img src="assets/images/misc/payment-paypal.png" class="float-right" height="24">
              <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
                  <input class="form-check-input" name="payment-option" checked="" type="radio" value="option2">
                  <h6 class="form-check-label">
                      Paypal
                  </h6>
              </label>
          </header>
          <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
          <div class="card-body">
              <p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
              <p class="text-center">
                  <a href="#"><img src="assets/images/misc/btn-paypal.png" height="32"></a>
                  <br><br>
              </p>
          </div> <!-- card body .// -->
          </div> <!-- collapse .// -->
      </div> <!-- card.// -->
      <div class="card">
      <header class="card-header">
          <img src="assets/images/misc/payment-card.png" class="float-right" height="24">
          <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
              <input class="form-check-input" name="payment-option" type="radio" value="option2">
              <h6 class="form-check-label"> Credit Card  </h6>
          </label>
      </header>
      <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
          <div class="card-body">
              <p class="alert alert-success">Some information or instruction</p>
              <form class="form-inline">
                  <input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
                  <input type="text" class="form-control mr-2" style="width: 100px" placeholder="dd/yy" name="">
                  <input type="number" maxlength="3" class="form-control mr-2" style="width: 100px" placeholder="cvc" name="">
                  <button class="btn btn btn-success">Button</button>
              </form>
          </div> <!-- card body .// -->
      </div> <!-- collapse .// -->
      </div> <!-- card.// -->
  </article>
  <!-- accordion end.// -->

          </main> <!-- col.// -->
          <aside class="col-md-4">
              <div class="card shadow">
              <div class="card-body">
                  <h4 class="mb-3">Riepilogo</h4>
                  <dl class="dlist-align">
                    <dt class="text-muted">Indirizzo di spedizione</dt>
                    <dd>Via ... (da prendere ovviamente uguale)</dd>
                  </dl>
                  <dl class="dlist-align">
                    <dt class="text-muted">Metodo di pagamento</dt>
                    <dd> Tutto da prendere in base a inserimento</dd>
                  </dl>
                  <hr>
                  <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="h5">{{300 | currency:'EUR'}}</dd>
                  </dl>
                  <hr>
                  <p class="small mb-3 text-muted">Cliccando sei d'accordo con i termini e le condizioni </p>
                  <a href="#" class="btn btn-primary btn-block"> Button  </a>

              </div> <!-- card-body.// -->
              </div> <!-- card.// -->
          </aside> <!-- col.// -->
      </div> <!-- row.// -->

  <!-- ============================ COMPONENT 2 END//  ================================= -->




  </div> <!-- container .//  -->
  </section>

  <app-footer></app-footer>
