<!-- MENU -->
<app-menu [version]=2></app-menu>


  <!-- ========================= SECTION CONTENT ========================= -->
  <section *ngIf="product" class="section-content padding-y bg">
      <div class="container">

      <article class="card">
          <div class="card-body">
                  <div class="row">
                      <aside class="col-md-6"> <!-- Possibilità di mettere le diverse immagini -->
                              <article class="gallery-wrap">
                                  <div class="card img-big-wrap">
                                      <a> <img src="assets/images/items/{{product.imgaeUrl}}"></a>
                                  </div> <!-- card img-big-wrap.// -->
                              </article> <!-- gallery-wrap .end// -->
                      </aside>
                      <main class="col-md-6">
                          <article>
                              <a class="text-primary btn-link"> {{product.categoria}} </a>
                              <h3 class="title"> {{product.shortDescription}}</h3>
                              <!-- Da decidere se permette di lasciare il rating, prob per ora lo eliminerç -->
                              <div>
                                  <ul class="rating-stars">
                                      <li  class="stars-active">
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>

                                      </li>
                                      <li>
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                      </li>
                                  </ul>
                                  <!-- <span class="label-rating mr-3 text-muted">7/10</span>
                                  <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for later </a>
                                  <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare </a> -->
                              </div>

                              <hr>

                              <div class="mb-3">
                                  <h6>{{product.description}}</h6> <!-- da tenere conto per salvare prod, queste caratteristiche devono esserci-->
                                  <ul class="list-dots mb-0">
                                      <li>{{product.car1}}</li>
                                      <li>{{product.car2}}</li>
                                      <li>{{product.car3}}</li>
                                  </ul>
                              </div>

                              <!-- <div class="form-group">
                                  <label class="text-muted">Available sizes</label>
                                  <div>
                                      <label class="js-check btn btn-check active mr-1">
                                          <input type="radio" name="option_size" value="option1" checked="">
                                          <span>Small</span>
                                      </label>
                                      <label class="js-check btn btn-check mr-1">
                                          <input type="radio" name="option_size" value="option1">
                                          <span>Medium</span>
                                      </label>
                                      <label class="js-check btn btn-check mr-1">
                                          <input type="radio" name="option_size" value="option1">
                                          <span>Large</span>
                                      </label>
                                      <label class="js-check btn btn-check disabled">
                                          <input type="radio" name="option_size" disabled="" value="option1">
                                          <span>Babies</span>
                                      </label>
                                  </div>
                              </div> -->

                              <div class="mb-3">
                                  <var class="price h4">{{product.prezzo| currency:'EUR'}}</var> <br>
                              </div>

                              <div class="mb-4">
                                  <a href="#" class="btn btn-primary mr-1">Buy now</a>
                                  <a href="#" class="btn btn-light">Add to card</a>
                              </div>

                          </article> <!-- product-info-aside .// -->
                      </main> <!-- col.// -->
                  </div> <!-- row.// -->
          </div> <!-- card-body.// -->
      </article>
      </div>



  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
