<!-- MENU -->
<app-menu [version]=1 *ngIf="course"></app-menu>


  <!-- ========================= SECTION CONTENT ========================= -->
  <section *ngIf="course" class="section-content padding-y bg">
      <div class="container">

      <article class="card">
          <div class="card-body">
                  <div class="row">
                      <aside class="col-md-6"> <!-- Possibilità di mettere le diverse immagini -->
                              <article class="gallery-wrap">
                                  <div class="card img-wrap mt-3">
                                      <img src="{{course.imageUrl}}">
                                  </div> <!-- card img-big-wrap.// -->
                              </article> <!-- gallery-wrap .end// -->
                      </aside>
                      <main class="col-md-6">
                          <article>
                              <a class="text-primary btn-link"> {{course.categories}} </a>
                              <h3 class="title"> {{course.titles.description}}</h3>
                              <!-- Da decidere se permette di lasciare il rating, prob per ora lo eliminerç -->
                              <div>
                                  <ul class="rating-stars">
                                      <li  class="stars-active">
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>

                                      </li>
                                      <li>
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                      </li>
                                  </ul>
                                  <!-- <span class="label-rating mr-3 text-muted">7/10</span>
                                  <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for later </a>
                                  <a href="#" class="btn-link text-muted"> <i class="fa fa-book-open"></i> Compare </a> -->
                              </div>

                              <hr>

                              <div class="mb-3">
                                  <h6>{{course.titles.description}}</h6> <!-- da tenere conto per salvare prod, queste caratteristiche devono esserci-->
                                  <ul class="list-dots mb-0">
                                      <li>{{course.spec1}}</li>
                                      <li>{{course.spec2}}</li>
                                      <li>{{course.spec3}}</li>
                                  </ul>
                              </div>

                              <!-- <div class="form-group">
                                  <label class="text-muted">Available sizes</label>
                                  <div>
                                      <label class="js-check btn btn-check active mr-1">
                                          <input type="radio" name="option_size" value="option1" checked="">
                                          <span>Small</span>
                                      </label>
                                      <label class="js-check btn btn-check mr-1">
                                          <input type="radio" name="option_size" value="option1">
                                          <span>Medium</span>
                                      </label>
                                      <label class="js-check btn btn-check mr-1">
                                          <input type="radio" name="option_size" value="option1">
                                          <span>Large</span>
                                      </label>
                                      <label class="js-check btn btn-check disabled">
                                          <input type="radio" name="option_size" disabled="" value="option1">
                                          <span>Babies</span>
                                      </label>
                                  </div>
                              </div> -->

                              <div class="mb-3">
                                  <var class="price h4">{{course.price | currency:'EUR'}}</var> <br>
                              </div>

                              <div class="mb-4">
                                  <!-- <a href="#" class="btn btn-primary mr-1">Buy now</a> -->
                                  <button class="btn btn-primary" type="button" (click)="addToCart(course.url)">Add to card</button>
                              </div>


                          </article> <!-- product-info-aside .// -->
                      </main> <!-- col.// -->
                  </div> <!-- row.// -->
                  <hr>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
                      Questa sarebbe una descrizione lunga per ogni corso da inserire all'interno del
                      database ma sinceramente ora come ora non ho sbatti XD.
                  </p>
          </div> <!-- card-body.// -->
      </article>
      </div>

    </section>
    <div class="accordion">

    </div>
    <app-footer class="fixed-bottom"></app-footer>
